-- MySQL dump 10.13  Distrib 8.4.11, for Linux (x86_64)
--
-- Host: localhost    Database: boat_brokers
-- ------------------------------------------------------
-- Server version	8.4.11

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `BlogPost`
--

DROP TABLE IF EXISTS `BlogPost`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `BlogPost` (
  `id` int NOT NULL AUTO_INCREMENT,
  `slug` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `readTime` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `author` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `imageUrl` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `BlogPost_slug_key` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `BlogPost`
--

LOCK TABLES `BlogPost` WRITE;
/*!40000 ALTER TABLE `BlogPost` DISABLE KEYS */;
/*!40000 ALTER TABLE `BlogPost` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Boat`
--

DROP TABLE IF EXISTS `Boat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Boat` (
  `id` int NOT NULL AUTO_INCREMENT,
  `year` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `imageUrl` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sellerId` int NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `alternator` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `anodes` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `appliances` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ballast` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bathroomBathShower` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bathroomExtraNotes` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bathroomLength` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bathroomToilet` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bathroomVanityBasin` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bathroomWasteTankCapacity` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `batteries` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bedroomBed` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bedroomDinette` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bedroomExtraNotes` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bedroomLength` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `blacking` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `boatName` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `boatSafety` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `boilerServiceHistory` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bowthruster` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `builder` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cabinSides` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ceiling` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `centralHeating` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cinNumber` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cost` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `covers` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `crtNumber` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dieselTankCapacity` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `documentationAvailable` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `draft` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `electricalExtraNotes` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `engine` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `engineExtraNotes` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `engineServiceHistory` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fitOut` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `flooring` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `galleyCooker` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `galleyExtraNotes` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `galleyFridgeFreezer` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `galleyLength` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `galleyMicrowave` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `galleyWashingMachine` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `galvanicIsolator` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gasBottles` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gearbox` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `heatingExtraNotes` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hours` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hullBuilder` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hullSides` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `insulation` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `interiorExtraNotes` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `internalHeadroom` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `inverterCharger` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `landlineSocket` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lastService` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lengthBeam` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `licenseNumber` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lighting` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `location` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `navigationEquipment` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `noOfBerths` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `overview` text COLLATE utf8mb4_unicode_ci,
  `previousOwners` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `recentSurvey` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `saloonDinette` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `saloonLength` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `saloonSeating` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sideDoors` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `solidFuelStove` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sourceOfHotWater` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `steelSpec` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sternType` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `survey` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tv` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `waterTank` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `waterTankCapacity` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `weedhatch` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `windows` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `yearBuilt` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `boatType` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gasExtraNotes` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `isFeatured` tinyint(1) NOT NULL DEFAULT '0',
  `isSold` tinyint(1) NOT NULL DEFAULT '0',
  `isUnderOffer` tinyint(1) NOT NULL DEFAULT '0',
  `price` int DEFAULT NULL,
  `boatId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `brochureUrl` text COLLATE utf8mb4_unicode_ci,
  `videoUrl` text COLLATE utf8mb4_unicode_ci,
  `virtualTourUrl` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Boat_boatId_key` (`boatId`),
  KEY `Boat_sellerId_fkey` (`sellerId`),
  CONSTRAINT `Boat_sellerId_fkey` FOREIGN KEY (`sellerId`) REFERENCES `Seller` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Boat`
--

LOCK TABLES `Boat` WRITE;
/*!40000 ALTER TABLE `Boat` DISABLE KEYS */;
/*!40000 ALTER TABLE `Boat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `BoatImage`
--

DROP TABLE IF EXISTS `BoatImage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `BoatImage` (
  `id` int NOT NULL AUTO_INCREMENT,
  `boatId` int NOT NULL,
  `path` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `position` int NOT NULL DEFAULT '0',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `BoatImage_boatId_idx` (`boatId`),
  CONSTRAINT `BoatImage_boatId_fkey` FOREIGN KEY (`boatId`) REFERENCES `Boat` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=227 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `BoatImage`
--

LOCK TABLES `BoatImage` WRITE;
/*!40000 ALTER TABLE `BoatImage` DISABLE KEYS */;
/*!40000 ALTER TABLE `BoatImage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `BoatListing`
--

DROP TABLE IF EXISTS `BoatListing`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `BoatListing` (
  `id` int NOT NULL AUTO_INCREMENT,
  `boatId` int NOT NULL,
  `sellerId` int NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `status` enum('PENDING','APPROVED','REJECTED') NOT NULL DEFAULT 'PENDING',
  `additionalNotes` text,
  `agreedToContact` tinyint(1) NOT NULL DEFAULT '1',
  `contactTime` varchar(191) DEFAULT NULL,
  `listerType` varchar(191) DEFAULT NULL,
  `sellTimeline` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `BoatListing_boatId_idx` (`boatId`),
  KEY `BoatListing_sellerId_idx` (`sellerId`),
  CONSTRAINT `BoatListing_boatId_fkey` FOREIGN KEY (`boatId`) REFERENCES `Boat` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `BoatListing_sellerId_fkey` FOREIGN KEY (`sellerId`) REFERENCES `Seller` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `BoatListing`
--

LOCK TABLES `BoatListing` WRITE;
/*!40000 ALTER TABLE `BoatListing` DISABLE KEYS */;
/*!40000 ALTER TABLE `BoatListing` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ListingComment`
--

DROP TABLE IF EXISTS `ListingComment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ListingComment` (
  `id` int NOT NULL AUTO_INCREMENT,
  `listingId` int NOT NULL,
  `content` text NOT NULL,
  `author` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `fromSeller` tinyint(1) NOT NULL DEFAULT '0',
  `parentId` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ListingComment_listingId_idx` (`listingId`),
  KEY `ListingComment_parentId_idx` (`parentId`),
  CONSTRAINT `ListingComment_listingId_fkey` FOREIGN KEY (`listingId`) REFERENCES `BoatListing` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `ListingComment_parentId_fkey` FOREIGN KEY (`parentId`) REFERENCES `ListingComment` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ListingComment`
--

LOCK TABLES `ListingComment` WRITE;
/*!40000 ALTER TABLE `ListingComment` DISABLE KEYS */;
/*!40000 ALTER TABLE `ListingComment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Seller`
--

DROP TABLE IF EXISTS `Seller`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Seller` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sellerId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `location` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `joiningDate` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `password` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `avatarUrl` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Seller_email_key` (`email`),
  UNIQUE KEY `Seller_sellerId_key` (`sellerId`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Seller`
--

LOCK TABLES `Seller` WRITE;
/*!40000 ALTER TABLE `Seller` DISABLE KEYS */;
INSERT INTO `Seller` VALUES (1,'Boat Brokers','dev@bluehawke.com',NULL,'SEL-000001',NULL,'2026-09-13 12:33:31.657','78fa7aece7a7951e0224857b2f86bd69:5702159bbd47bf6478887908577baf3ece0847f26da6ba19e7078393dead2f07b457da6393b4b524bc1e79fc64c92cb7568b5f1b274edb4e18647ca2afd608ed',NULL);
/*!40000 ALTER TABLE `Seller` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `_prisma_migrations`
--

DROP TABLE IF EXISTS `_prisma_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `_prisma_migrations` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `checksum` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `finished_at` datetime(3) DEFAULT NULL,
  `migration_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `logs` text COLLATE utf8mb4_unicode_ci,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  `started_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `applied_steps_count` int unsigned NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-20 14:07:38
